
body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    height: 100vh;
    overflow: hidden;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #222;
  /*background-color: whitesmoke;*/
  color: black;
  height: 80px;
  padding: 0 20px;
}

.logo-container {
  display: flex;
  align-items: center;
}

.logo-container img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-right: 10px;
}

.logo-container h1 {
  margin: 0;
}

.status-container {
  display: flex;
  align-items: center;
}

.indicator {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  margin-right: 5px;
}

.online {
  background-color: green;
}

.offline {
  background-color: red;
}

.status {
  font-size: 14px;
}



#chat-window {
  width: 100%;
  max-width: 720px;
  margin: 0 auto;
  height: calc(100vh - 100px);
  overflow-y: scroll;
  border: 1px solid #ccc;
  padding: 20px;
  box-sizing: border-box;
  /* display: flex; */
  justify-content: flex-end;
  flex-direction: column;
}

.message-user {
  background-color: #293036;
  color: #fff;
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 10px;
}

.welcome{
  align-self: left; width: 50%; height: 100px; font-size: large; margin: 50px;
}

#chat-container {
  display: flex;
}


.msg_wrapper {
  width: 50%;
  max-width: 400px;
}
.msg_wrapper img {
  width: 100%;
  height: 150px;
  object-fit: cover;
  margin-bottom: 10px;
}

.menu_btn {
  font-size: 14px;
}

.menu_btn:hover {
  background-color: coral !important;
  color : white !important;
}

.menu_btn.active, .menu_response.active {
  background-color: coral !important;
  color : white !important;
}

@media (max-width : 768px) {
  .msg_wrapper {
    width: 100%;
    max-width: 400px;
  }
}