
body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #222;
  color: white;
  height: 80px;
  padding: 0 20px;
}

.logo-container {
  display: flex;
  align-items: center;
}

.logo-container img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-right: 10px;
}

.logo-container h1 {
  margin: 0;
}

.status-container {
  display: flex;
  align-items: center;
}

.indicator {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  margin-right: 5px;
}

.online {
  background-color: green;
}

.offline {
  background-color: red;
}

.status {
  font-size: 14px;
}



#chat-window {
  width: 100%;
  height: 400px;
  overflow-y: scroll;
  border: 1px solid #ccc;
  padding: 10px;
  box-sizing: border-box;
}

.message-bot {
  background-color: #f5f5f5;
  color: #333;
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 10px;
}

.message-user {
  background-color: #293036;
  color: #fff;
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 10px;
}

/*.button-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 10px;
}

.button-container button {
  padding: 10px;
  margin: 5px;
  background-color: #2196F3;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.button-container button:hover {
  background-color: #0D47A1;
}
*/
.welcome{
  align-self: left; width: 50%; height: 100px; font-size: large; margin: 50px;
}

#chat-container {
  display: flex;
}
